		form .invalid-feedback {
            display: block;
        }

.navbar {
    background-color: #141414 !important;
    padding: 0.8rem 2rem;
}

.navbar .navbar-brand {
    color: #e50914;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

.navbar .nav-link:hover {
    color: #e50914;
    transform: scale(1.05);
}


.navbar .nav-link i {
    color: #fff;
    transition: color 0.3s;
}

.navbar .nav-link:hover i {
    color: #e50914;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
        xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29'
        stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
}
